/* basic menu */
.verticalMenu{
	padding: 20px 40px;
	overflow-y: scroll;
	height: 100%;
	margin-right: 20px;
	font-size: 12px;
}

.verticalMenu a{
	display: block;
	text-transform: capitalize;
	color: #000;
	word-break: break-word;
	padding: 1px 0px 1px 5px;
	text-decoration: none;
}
.verticalMenu a:hover, #menu .verticalMenu a.active{
	display: block;
	color: #fff;
	background: #000;
	word-break: break-word;
	text-decoration: none;
}

.verticalMenu .extras{
	margin-top: 20px;
}

/* group menu */


.verticalMenu.collapsed .group_list a{
	display: none;
}
.verticalMenu.collapsed .group_list.closed{
	margin-bottom: 0px;
}

.verticalMenu.collapsed .group_list.closed a{
	display: none;
}



.verticalMenu.collapsed  .group_list.open .group_header.selected{
	font-weight: bold;
	margin-bottom: 10px;
}


.verticalMenu.collapsed  .group_header{
	margin-bottom: 5px;
	font-size: .9em;
}
.verticalMenu.collapsed .group_list{
	margin-left: 20px;

	margin-bottom: 20px;
}
.verticalMenu.collapsed .group_list.group_index_0, .verticalMenu  .group_list.group_index_1{
	margin-left: 5px;
	
}

.verticalMenu.collapsed  .group_list.group_index_1 > a{
	margin-left:20px !important;
}

.verticalMenu.collapsed  .group_list a{
	margin-left: 20px;
}

.verticalMenu.collapsed  .group_list .group_header{
	cursor: pointer;
	color: #666;
	font-size: 1em;
	font-weight: normal;
}

.verticalMenu.collapsed  .group_list  .group_header.group_index_2{
	font-size: .9em;
}