<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="{{site_url}}css/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{cmcm_url}}assets/css/bootstrap.min.css">

<!-- bootstrap -->
<link rel="stylesheet" href="{{cmcm_url}}assets/css/bootstrap.min.css">
<!--  frunt widgets css -->
<link rel="stylesheet" href="{{cmcm_url}}assets/frunt/css/frunt.widgets.css">
<!-- pretty scroll -->
<link rel="stylesheet" href="{{site_url}}css/perfect-scrollbar.css">

<!-- site css -->
<link rel="stylesheet" href="{{site_url}}css/style.css">

<!-- jquery -->
<script type="text/javascript" src="{{cmcm_url}}assets/js/jquery-2.1.0.min.js"></script>
<!--  frunt widgets js -->
<script type="text/javascript" src="{{cmcm_url}}assets/frunt/js/frunt.widgets2.js"></script>
<!-- pretty scroll -->
<script type="text/javascript" src="{{site_url}}js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{site_url}}js/perfect-scrollbar.js"></script>
<script type="text/javascript" src="{{site_url}}js/jquery.nicescroll.js"></script>
<!-- enquire.js (media queries) -->
<script type="text/javascript" src="{{site_url}}js/enquire.min.js"></script>
<!-- site js-->
<script type="text/javascript" src="{{site_url}}js/script.js"></script>
